# Run in combination with the .dev file for development
services:
  backend:
    build: 
      context: .
      args:
        MARKDOWN_COLLECTION_REPO_URL: ${MARKDOWN_COLLECTION_REPO_URL} # obsidian vault repo url
        MARKDOWN_COLLECTION_DIR: ${MARKDOWN_COLLECTION_DIR} # directory that markdown collection repo is pulled into
    expose:
      - "8000"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "https://localhost:8000/api/v1/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s     
  nginx:
    image: nginx:stable
    volumes:
      - ./certs:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend

