services:
  backend:
    build: .
    ports:
      - "8000:8000"
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - pyproject.toml
            - uv.lock
        - action: rebuild
          path: uv.lock
