services:
  backend:
    build: 
      context: .
      args:
        MARKDOWN_COLLECTION_REPO_URL: ${MARKDOWN_COLLECTION_REPO_URL} # obsidian vault repo url
        MARKDOWN_COLLECTION_DIR: ${MARKDOWN_COLLECTION_DIR} # directory that markdown collection repo is pulled into
    ports:
      - "8000:8000"
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - pyproject.toml
            - uv.lock
        - action: rebuild
          path: uv.lock
